<mat-tab-group mat-stretch-tabs class="mat-card">
    <mat-tab label="Измена и приказ проуџбина">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2%" class="mat-card">
            <mat-table [dataSource]="listedOrders" matSort>
                <ng-container matColumnDef="nameSurname">
                    <mat-header-cell *matHeaderCellDef style="margin-left: 18% !important;">Име и презиме наручиоца</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span>{{ element.accountName + " " + element.accountSurname }}</span>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="shippingMethod">
                    <mat-header-cell *matHeaderCellDef mat-sort-header style="margin-left: -3% !important;">Начин доставе</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span *ngIf="!element.isEditing">{{ shippingMethods.get(element.shippingMethod) }}</span>
                        <span *ngIf="element.isEditing">
                            <select (change)="element.shippingMethodNew = $event.target.value">
                                <option *ngFor="let shippingMethod of shippingMethods | keyvalue"
                                    [value]="shippingMethod.key" [selected]="element.shippingMethodNew === shippingMethod.key"
                                    > {{ shippingMethod.value }}
                                </option>
                            </select>
                        </span>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>
                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header style="margin-left: 3% !important;">Статус поруџбине</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span *ngIf="!element.isEditing">{{ statusOptions.get(element.status) }}</span>
                            <span *ngIf="element.isEditing">
                                <select (change)="element.statusNew = $event.target.value">
                                    <option *ngFor="let status of statusOptions | keyvalue"
                                        [value]="status.key" [selected]="element.statusNew === status.key"
                                        > {{ status.value }}
                                    </option>
                                </select>
                            </span>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-icon-button *ngIf="!element.isEditing && element.status !== 'COMPLETED'" (click)="element.isEditing = true"><mat-icon>edit</mat-icon></button>
                        <button mat-icon-button *ngIf="element.isEditing" (click)="element.isEditing = false; editOrder(element);"><mat-icon>check_circle</mat-icon></button>
                        <button mat-icon-button (click)="deletion(element.id)"><mat-icon>delete_forever</mat-icon></button>
                        <button mat-icon-button (click)="showOrderedItems(element.id)"><mat-icon>shopping_basket</mat-icon></button>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let rows; columns: displayedColumns;"></mat-row>
            </mat-table>
            
            <section fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="6%" fxLayoutGap.lt-sm="3%" fxFlex>
                <mat-paginator [pageSize]="1" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
                <section fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="5%" fxLayoutGap.lt-sm="2%">
                    <button mat-stroked-button color="primary" (click)="find()">Пронађи поруџбину</button>
                    <button mat-stroked-button color="primary" (click)="showTotal()">Прикажи укупан број поруџбина</button>
                    <button mat-stroked-button color="primary" (click)="showTotalOfOrderedProducts()">Прикажи укупан број поручених производа</button>
                    <button mat-stroked-button color="primary" (click)="listOrders()">Излистај све поруџбине</button>
                </section>
            </section>
            <section></section> <!-- Blank space -->
        </div>  
    </mat-tab>

    <mat-tab label="Додавање нове поруџбине">
        <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.2%" fxLayoutGap.lt-md="2.2%"
        #form="ngForm" (ngSubmit)="addNewOrder(form)" (ngReset)="form.reset()" class="mat-card"> <!-- Class mat-card is used to apply dark mode background and coloring -->
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Наручилац</mat-label>
                <mat-select matInput ngModel name="purchaser" required>
                    <mat-option *ngFor="let purchaser of accounts" [value]="purchaser.id">
                      {{ purchaser.name + " " + purchaser.surname }}
                    </mat-option>
                </mat-select>
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Начин доставе</mat-label>
                <mat-select matInput ngModel name="shippingMethod" required>
                    <mat-option *ngFor="let shippingMethod of shippingMethods | keyvalue"
                        [value]="shippingMethod.key"> {{ shippingMethod.value }}
                    </mat-option>
                </mat-select>
                <mat-icon matSuffix>local_shipping</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Статус</mat-label>
                <mat-select matInput ngModel name="status" required>
                    <mat-option *ngFor="let status of statusOptions | keyvalue"
                    [value]="status.key"> {{ status.value }}
                    </mat-option>
                </mat-select>
                <mat-icon matSuffix>pending</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Поручени производи</mat-label>
                <mat-chip-list #productChipList >
                    <mat-chip
                      *ngFor="let product of productsPurchased"
                      [selectable]="false"
                      [removable]="true"
                      (removed)="removeSelectedProduct(product)">
                      {{ product.name + "(" + product.orderedQuantity + " комада)"}}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input
                      placeholder="Унеси име производа"
                      #productInput
                      [formControl]="productInputControl"
                      [matAutocomplete]="autocompleteProduct"
                      [matChipInputFor]="productChipList"/>
                  </mat-chip-list>
                  <mat-autocomplete #autocompleteProduct="matAutocomplete" (optionSelected)="addSelectedProduct($event)">
                    <mat-option *ngFor="let product of filteredProductNames | async" [value]="product"> <!-- Is async because of filtering with input -->
                      {{ product }}
                    </mat-option>
                  </mat-autocomplete>
            </mat-form-field>
            <span>Напомена: Уколико производ није на стању он се неће приказати у избору изнад!</span>
            <section fxLayout="row" fxLayoutGap="10px">
                <button type="submit" mat-stroked-button color="primary" [disabled]="!checkRequiredFields(form)">Додај поруџбину</button>
                <button type="reset" mat-stroked-button color="warn" [disabled]="form.pristine">Обриши све</button> <!-- Disabled if form isn't modified -->
            </section>
        </form>
        <section></section> <!-- Blank space -->
    </mat-tab>
</mat-tab-group>

<div style="display: none;" id="orderedProductsDiv">
    <mat-table [dataSource]="this.listedOrderProdructs">
        <ng-container matColumnDef="productName">
            <mat-header-cell *matHeaderCellDef style="margin-left: -1% !important;">Назив производа</mat-header-cell>
            <mat-cell *matCellDef="let productElement">
                <span>{{ productElement.name }}</span>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="productCategory">
            <mat-header-cell *matHeaderCellDef style="margin-left: -2% !important;">Назив категорије производа</mat-header-cell>
            <mat-cell *matCellDef="let productElement">
                <span>{{ productElement.category.name }}</span>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="orderedQuantity">
            <mat-header-cell *matHeaderCellDef>Количина</mat-header-cell>
            <mat-cell *matCellDef="let productElement">
                <span>{{ productElement.orderedQuantity }}</span>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="totalCost">
            <mat-header-cell *matHeaderCellDef style="margin-right: -7% !important;">Укупна цена</mat-header-cell>
            <mat-cell *matCellDef="let productElement">
                <span>{{ (productElement.orderedQuantity * productElement.price).toLocaleString("sr-RS", { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }} динара</span>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="footer">
            <mat-footer-cell *matFooterCellDef style="margin-left: 7%;">Укупна цена {{ (subtotalOfOrderedProducts + subtotalOfOrderedProducts/5).toLocaleString("sr-RS", { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }} динара (са 20% ПДВ)</mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsOP"></mat-header-row>
        <mat-row *matRowDef="let rows; columns: displayedColumnsOP;"></mat-row>
        <mat-footer-row *matFooterRowDef="['footer'];"></mat-footer-row>
    </mat-table>
</div>